:root {
  --color-accent: oklch(65% 50% 0);
}

html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    max-width: 97ch;
    margin-inline: auto;
    padding: 1rem;
    font: 100%/1.5 system-ui;
    color: canvastext;
    background-color: canvas;
}

#nyc-image {
  max-width: 100%;
  height: auto;
  width: 400px;
}

@media (max-width: 600px) {
  #nyc-image {
    width: 60%;
  }
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 1px solid var(--border-color);
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  text-align: center;
  flex: 1;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

form button {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: gray;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects article h2 {
  margin: 0;
}

h1 {
  text-align: left;
  font-size: 400%;
}

h2 {
  text-align: left;
  margin-top: 1rem;
}

h3 {
  text-align: left;
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  text-align: left;
}

section {
  max-width: 43rem;
  margin-bottom: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  text-align: left;
}

section header h2 {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style: disc;
  margin: 0 0 1rem 1.5rem;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

section header h3 {
  border-bottom: none;
}

@media (max-width: 600px) {
  body {
    font-size: 90%; 
  }

  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem; 
  }
}

.color-scheme {
  position: absolute;
  top: 1rem; 
  right: 1rem; 
  font-size: 80%; 
  font-family: inherit; 
}

.color-scheme select {
  margin-left: 0.5rem;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}



